# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/
.build/
*.xcworkspace/xcuserdata/
AICat.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
AICat.xcodeproj/xcuserdata/
.swiftpm/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
Tools/out/
.swift-toolchain/
